NET "clk" LOC = "B8";

NET led(0) LOC = "J14";
NET led(1) LOC = "J15";
NET led(2) LOC = "K15";
NET led(3) LOC = "K14";
#
#NET led(4) LOC = "E16";
#NET led(5) LOC = "P16";
#NET led(6) LOC = "E4";
#NET led(7) LOC = "P4";

NET Entrada(0) LOC = "B18";
NET Entrada(1) LOC = "D18";
NET Entrada(2) LOC = "E18";
NET Entrada(3) LOC = "H13";